<div class="container mt-4">
  <h2>
    <ng-container *ngIf="isEditMode" i18n="@@company_form.title_edit">Edit Company</ng-container>
    <ng-container *ngIf="!isEditMode" i18n="@@company_form.title_create">Create Company</ng-container>
  </h2>
  <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-content>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label i18n="@@company_form.name_label">Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label i18n="@@company_form.address_label">Address</mat-label>
          <input matInput formControlName="address">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label i18n="@@company_form.phone_label">Phone Number</mat-label>
          <input matInput formControlName="phoneNumber">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label i18n="@@company_form.email_label">Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label i18n="@@company_form.website_label">Website</mat-label>
          <input matInput formControlName="website">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label i18n="@@company_form.timezone_label">Timezone</mat-label>
          <mat-select formControlName="timeZone">
            <mat-option [value]="null" disabled i18n="@@company_form.timezone_placeholder">Select a Timezone</mat-option>
            <mat-option *ngFor="let tz of timezones" [value]="tz.value">{{ tz.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label i18n="@@company_form.external_code_label">External Code</mat-label>
          <input matInput formControlName="externalCode">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label i18n="@@company_form.currency_label">Currency</mat-label>
          <input matInput formControlName="currency">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label i18n="@@company_form.logo_url_label">Logo URL</mat-label>
          <input matInput formControlName="logoUrl">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="companyForm.invalid">
          <ng-container *ngIf="isEditMode" i18n="@@company_form.update_btn">Update</ng-container>
          <ng-container *ngIf="!isEditMode" i18n="@@company_form.create_btn">Create</ng-container>
        </button>
        <button mat-button type="button" [routerLink]="['/general/manage-companies']" i18n="@@common.cancel">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
