<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>more_vert</mat-icon>
  </button>
  <span>{{ (activeCompany$ | async)?.name }}</span>
  <span class="spacer"></span>
  <div style="margin-left: auto;">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <img [src]="(user$ | async)?.photoUrl || 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMTJDMTQuMjEgMTIgMTYgMTAuMjEgMTYgOEMxNiA1Ljc5IDE0LjIxIDQgMTIgNFM4IDUuNzkgOCA4QzggMTAuMjEgOS43OSAxMiAxMiAxMlpNMTIgMTRDNi40OCAxNCAyIDE2LjQ4IDIgMjJWMjRIMjJWMjJDMTggMTYuNDggMTUuNTIgMTQgMTIgMTRaIiBmaWxsPSIjY2NjY2NjIi8+PC9zdmc+'" class="profile-image-toolbar" alt="User profile image">
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <div class="profile-info" *ngIf="user$ | async as user">
      <img [src]="user.photoUrl || 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMTJDMTQuMjEgMTIgMTYgMTAuMjEgMTYgOEMxNiA1Ljc5IDE0LjIxIDQgMTIgNFM4IDUuNzkgOCA4QzggMTAuMjEgOS43OSAxMiAxMiAxMlpNMTIgMTRDNi40OCAxNCAyIDE2LjQ4IDIgMjJWMjRIMjJWMjJDMTggMTYuNDggMTUuNTIgMTQgMTIgMTRaIiBmaWxsPSIjY2NjY2NjIi8+PC9zdmc+'" class="profile-image-menu" alt="User profile image">
      <div class="profile-details">
        <p>{{ user.name }}</p>
        <p class="text-muted">{{ user.email }}</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/dashboard/profiles">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item routerLink="/dashboard/settings">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item routerLink="/general/manage-companies">
      <mat-icon>business</mat-icon>
      <span>Company</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #sidenav class="sidenav" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/schedule" routerLinkActive="active-link">
        <mat-icon matListItemIcon>dialpad</mat-icon>
        <span matListItemTitle>Schedule</span>
      </a>
      <a mat-list-item routerLink="/dashboard/shiftsummaries" routerLinkActive="active-link">
        <mat-icon matListItemIcon>assignment</mat-icon>
        <span matListItemTitle>Shift Summaries</span>
      </a>
      <a mat-list-item routerLink="/dashboard/profiles" routerLinkActive="active-link">
        <mat-icon matListItemIcon>account_circle</mat-icon>
        <span matListItemTitle>Profiles</span>
      </a>
      <a mat-list-item routerLink="/dashboard/people" routerLinkActive="active-link">
        <mat-icon matListItemIcon>people</mat-icon>
        <span matListItemTitle>People</span>
      </a>
      <a mat-list-item routerLink="/dashboard/areas" routerLinkActive="active-link">
        <mat-icon matListItemIcon>place</mat-icon>
        <span matListItemTitle>Areas</span>
      </a>
      <a mat-list-item routerLink="/dashboard/locations" routerLinkActive="active-link">
        <mat-icon matListItemIcon>location_on</mat-icon>
        <span matListItemTitle>Locations</span>
      </a>
      <a mat-list-item routerLink="/dashboard/tasks" routerLinkActive="active-link">
        <mat-icon matListItemIcon>assignment</mat-icon>
        <span matListItemTitle>Tasks</span>
      </a>
      <a mat-list-item routerLink="/kiosk" routerLinkActive="active-link">
        <mat-icon matListItemIcon>recent_actors</mat-icon>
        <span matListItemTitle>Kiosks</span>
      </a>
      <a mat-list-item routerLink="/dashboard/clock-shift" routerLinkActive="active-link">
        <mat-icon matListItemIcon>alarm</mat-icon>
        <span matListItemTitle>Clock</span>
      </a>      
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>menu</mat-icon>
            More Options
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/dashboard/holidays" routerLinkActive="active-link">
          <mat-icon matListItemIcon>holiday_village</mat-icon>
          <span matListItemTitle>Holidays</span>
        </a>
        <a mat-list-item routerLink="/general/manage-companies" routerLinkActive="active-link">
          <mat-icon matListItemIcon>business</mat-icon>
          <span matListItemTitle>Manage Companies</span>
        </a>
        <a mat-list-item routerLink="/dashboard/settings" routerLinkActive="active-link">
          <mat-icon matListItemIcon>settings</mat-icon>
          <span matListItemTitle>Settings</span>
        </a>
        <a mat-list-item routerLink="/dashboard/help" routerLinkActive="active-link">
          <mat-icon matListItemIcon>help</mat-icon>
          <span matListItemTitle>Help</span>
        </a>
        <a mat-list-item routerLink="/dashboard/about" routerLinkActive="active-link">
          <mat-icon matListItemIcon>info</mat-icon>
          <span matListItemTitle>About</span>
        </a>
        <a mat-list-item routerLink="/dashboard/contact" routerLinkActive="active-link">
          <mat-icon matListItemIcon>contact_mail</mat-icon>
          <span matListItemTitle>Contact</span>
        </a>
        <a mat-list-item routerLink="/dashboard/privacy" routerLinkActive="active-link">
          <mat-icon matListItemIcon>privacy_tip</mat-icon>
          <span matListItemTitle>Privacy</span>
        </a>
        <a mat-list-item routerLink="/dashboard/terms" routerLinkActive="active-link">
          <mat-icon matListItemIcon>gavel</mat-icon>
          <span matListItemTitle>Terms</span>
        </a>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>