.profile-image-toolbar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-image-menu {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  margin: 16px;
}

.profile-info {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.profile-details {
  margin-left: 16px;
}
