<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title text-center" i18n="@@auth.forgot_password.reset_title">Reset Password</h3>
      <p class="text-center" i18n="@@auth.forgot_password.instruction">Please enter your email address to request a password reset.</p>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="requestPasswordReset()">
        <div class="form-group">
          <label for="email" i18n="@@auth.forgot_password.email_label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            [ngClass]="{ 'is-invalid': forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid }"
          />
          <div *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid" class="invalid-feedback">
            <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']" i18n="@@auth.login.email_required">Email is required.</div>
            <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']" i18n="@@auth.login.email_invalid">Please enter a valid email address.</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!forgotPasswordForm.valid || loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <ng-container i18n="@@auth.forgot_password.reset_submit">Reset Password</ng-container>
        </button>
      </form>
      <div class="text-center mt-3">
        <span i18n="@@auth.forgot_password.go_back_to">Go back to</span>
        <a routerLink="/sign-in" i18n="@@auth.login.submit">Log In</a>
      </div>
    </div>
  </div>
</div>
