<h1 mat-dialog-title>Select Location</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Locations</mat-label>
    <mat-select #locationSelect>
      <mat-option *ngFor="let location of data.locations" [value]="location">
        {{location.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="locationSelect.value" cdkFocusInitial>Select</button>
</div>
