<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" i18n="@@roles.list_title">Roles</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th i18n="@@common.name">
                                    Name
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let role of roles">
                                    <td>
                                        {{role.name}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
